---
title: This is a really long project title
columns:
  - title: Backlog
    automation: To do
    cards:
      - title: Card one
        type: note
        author: shawnbot
        refs:
          - title: hello, world
            id: 321
            author: shawnbot
            assignee: broccolini
            labels: [Primer]
          - title: This is a Primer issue
            repo: primer-css
            id: 303
            author: shawnbot
            status: closed
            labels: [bug, css]

      - title: Issue two
        issue: {id: 123}
        author: jonrohan
        assignee: shawnbot
        labels: [bug, css]
  - title: Work in progress
    automation: WIP
    cards:
      - title: Card three
        issue: {id: 123}
        author: shawnbot
        assignee: jonrohan
        labels: [bug]
      - title: Card four
        issue: {id: 123}
        author: broccolini
        labels: [bug, css, Primer]
      - title: This is another card with a really long title and blah blah
        issue: {id: 123}
        author: califa
        labels: [bug, css, Primer]
      - title: Yet another card
        issue: {id: 123}
        author: shawnbot
        assignee: broccolini
        labels: [css, Primer]

  - title: Done
    cards:
      - title: One more card
        issue: {id: 123, status: closed}
        author: defunkt
        labels: [bug]

label_colors:
  bug: [black, white]
  css: [pink]
  Primer: [blue, white]

status_colors:
  opened: green
  closed: red
  merged: purple
---

{% macro ref_icon(ref, symbol='note', color='gray-light') %}
  {% if ref %}
    {% set type = ref.type | default("issue") %}
    {% set status = ref.status | default("opened") %}
    {% set symbol %}{{ type }}-{{ status }}{% endset %}
    {% set color = status_colors[status] %}
  {% endif %}
  {% set class %}v-align-baseline text-{{ color }}{% endset %}
  {% octicon symbol width=16 height=16 class=class %}
{% endmacro %}

{% macro ref_card(ref, class="") %}
<div class="{{ class }}">
  <div class="mr-2">
    {{ ref_icon(ref) }}
  </div>
  <div class="mr-2 width-full">
    {{ issue_title(ref) }}
    {{ issue_byline(ref) }}
    {{ ref_labels(ref.labels) }}
  </div>
  {% if ref.assignee %}
  <div class="d-flex flex-column flex-justify-end">
    {{ avatar(ref.assignee) }}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro issue_title(issue) %}
  <a href="#">
    <h5 class="h5 lh-condensed mt-0 mb-1">
      {{ issue.title }}
    </h5>
  </a>
{% endmacro %}

{% macro issue_byline(issue) %}
  <div class="f6 text-gray mb-1">
    {{ issue.repo | default("github") }}#{{ issue.id | default(12345) }} opened by
    <a class="text-gray-dark" href="#">
      {{ issue.author }}
    </a>
  </div>
{% endmacro %}

{% macro ref_labels(labels) %}
  {% if labels %}
    <div class="labels">
      {% for _label in labels %}
        {% set colors = label_colors[_label] %}
        <span class="label" style="background: {{ colors[0] }}; color: {{ colors[1] | default('black') }};">{{ _label }}</span>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro avatar(user) %}
<a href="#">
  <img class="rounded-1 v-align-bottom" alt="@{{ user }}" src="https://avatars0.githubusercontent.com/{{ user }}?s=40" width="20" height="20">
</a>
{% endmacro %}

<main class="d-flex flex-column" style="height: 100vh">
  <header class="p-3 border-bottom d-flex flex-items-end flex-justify-between">
    <h1 class="f3 lh-condensed mb-0 mr-4">{{ title }}</h1>
    <form class="text-dark-gray no-wrap" disabled>
      <span class="position-relative">
        <input class="form-control input-sm mr-2 pl-4"
               type="search" placeholder="Filter cards">
        {% octicon 'search' width=14 class="position-absolute text-gray-light left-0 bottom-0 ml-2 mt-2" %}
      </span>
      <button class="btn btn-sm text-inherit mr-1">
        {% octicon "plus" %} Add cards
      </button>
      <button class="btn btn-sm selected text-inherit mr-1">
        {% octicon "screen-full" %} Fullscreen
      </button>
      <details class="details-modal d-inline-block position-relative">
        <summary class="btn btn-sm d-inline-block text-inherit">
          {% octicon "three-bars" %} Menu
        </summary>
        <div class="p-2 position-absolute bg-white border rounded-1 top-100 right-0 mt-2 box-shadow">
          Yo, this is a menu.
        </div>
      </details>
    </form>
  </header>
  <div class="p-2 bg-white d-flex flex-items-stretch height-full overflow-auto"
       style="overflow-x: auto">
    {% for column in columns %}
    <div class="project-column position-relative bg-gray-light border rounded-1 mr-2 height-full overflow-hidden d-flex flex-column">
      <div class="border-bottom p-2 d-flex flex-justify-between">
        <h3 class="f5 mb-1">
          {{ column.title }} <span class="Counter">{{ column.cards.length }}</span>
        </h3>
        <div class="text-gray mr-1">
          <button class="btn-link text-inherit mr-2">
            {% octicon "pencil" height=16 class="tooltipped tooltipped-ne" "aria-label"="Edit column" %}
          </button>
          <button class="btn-link text-inherit">
            {% octicon "plus" height=16 class="tooltipped tooltipped-ne" "aria-label"="Add a note" %}
          </button>
        </div>
      </div>

      <div class="height-full overflow-auto">
      {% for card in column.cards %}
        <div class="bg-white border m-2 rounded-1">
          <div class="p-2 d-flex">
            <div class="mr-2">
              {{ ref_icon(card.issue) }}
            </div>
            <div class="mr-2 width-full">
              {% if card.issue %}
                {{ issue_title(card) }}
                {{ issue_byline(card) }}
                {{ ref_labels(card.labels) }}
              {% else %}
                <p class="f5 lh-condensed mt-0 mb-2">
                  {{ card.title }}
                </p>
                <span class="text-small text-gray-light">
                  Added by <a href="#" class="text-gray-dark">{{ card.author }}</a>
                </span>
              {% endif %}
            </div>
            <div class="d-flex flex-column flex-justify-between text-right">
              <div>
                <button class="btn-link btn-block text-center text-gray f3 p-0">
                  {% octicon "kebab-horizontal" width=20 height=14 class="v-align-top" %}
                </button>
              </div>
              {% if card.assignee %}
              <div>
                {{ avatar(card.assignee) }}
              </div>
              {% endif %}
            </div>
          </div>

          {% if card.refs %}
            <details class="p-0 m-0 border-top bg-white">
              <summary class="text-gray-light p-2 m-0 d-flex flex-justify-between">
                <div class="mr-2">
                  <h5 class="text-normal mb-0">{{ card.refs.length }} Reference{% if card.refs.length != 1 %}s{% endif %}</h5>
                </div>
                <span class="">
                  {% octicon "fold" height=16 width=20 %}
                </span>
              </summary>
              {% for issue in card.refs %}
                {{ ref_card(issue, class="p-2 d-flex border-top") }}
              {% endfor %}
            </details>
          {% endif %}

        </div>
      {% endfor %}
      </div>

      {% if column.automation %}
      <div class="">
        <div class=" text-small bg-gray-light p-2 border-top d-flex flex-justify-between">
          <span class="text-gray-light">
            Automated as <span class="label bg-gray text-inherit">{{ column.automation }}</span>
          </span>
          <div class="text-right">
            <a href="#">Manage</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</main>

<style>
  :root {
    --column-width: 315px;
  }

  .project-column {
    min-width: var(--column-width);
    max-width: var(--column-width);
  }

  summary {
    display: block;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .details-modal > summary {
    position: relative;
  }

  .details-modal[open] > summary::before {
    content: "";
    display: block;
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1000;
  }

  .details-modal[open] > :not(summary) {
    z-index: 1001;
  }
</style>
